/*color*/
:root {
    --nav-color-light: rgb(245, 245, 245);
    --text-color-light: rgb(87, 87, 87);
    --body-color-light: white;


    --nav-color-dark: rgb(87, 87, 87);
    --text-color-dark: rgb(255, 255, 255);
    --body-color-dark: black;

}

/* special */
.flex__order__first {
    order: 0;
}

.flex__order__second {
    order: 1;
}

.cart__number {
    position: absolute;
    display: flex;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: orangered;
    color: white;
    font-size: 11px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: -5px;
}

.sidebar__items .cart__number {
    margin-left: 15px;
}

/*SIDEBAR*/
/** side bar start **/
.mysidebar {
    display: none;
    position: absolute;
    background-color: black;
    width: 40%;
    min-width: 100px;
    top: 0;
    left: 0;
    height: 100vh;
    transition: transform 0.7s ease-in-out;
    transform: translateX(-100%);
    z-index: 100;
}

.mysidebar__show {
    display: none;
    position: absolute;
    background-color: black;
    width: 40%;
    min-width: 250px;
    top: 0;
    left: 0;
    height: 100vh;
    transition: transform 0.7s ease-in-out;
    transform: translateX(0%);
    z-index: 100;
}

.sidebar__group {
    display: none;
    flex: 0.9;
    flex-direction: column;
}

.sidebar__items {
    position: relative;
    color: black;
    text-decoration: none;
}

.sidebar__items p {
    font-size: large;
    margin-bottom: 10px;
}

.sidebar__icon {
    flex: 0.1;
    margin: 15px;
    color: white;
    cursor: pointer;
}

.sidebar__icon:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2);
}

/* side bar button */
.sidebarbutton button {
    display: none;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: black;
    padding: 10px 20px;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .sidebarbutton button {
        display: block;
    }

    .mysidebar__show {
        display: flex;
    }

    .sidebar__group {
        display: flex;
    }

    .sidebar__group .nav__search__bar {
        display: block;
    }

    .sidebar__items {
        margin: 15px;
        color: white;
        font-size: large;
        text-decoration: none;
    }
}

/* sidebar button end*/

/** side bar end **/

/*----------------------------------------------------------------*/

/*NAV BAR*/
/** nav bar start **/
/*dark mode test*/
.mynavbar__background__color__dark {
    background-color: var(--nav-color-dark);
}

.mynavbar__background__color__dark .media__hide__seeks {
    color: var(--text-color-dark);
}

/*light mode test*/
.mynavbar__background__color {
    background-color: var(--nav-color-light);
}

.mynavbar__background__color .media__hide__seeks {
    color: var(--text-color-light);
}

.mynavbar {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
    height: 55px;
}

.nav__sidebar__button {
    margin-left: 10px;
}

.nav__logo__img img {
    width: 45px;
    height: 45px;
    margin-left: 10px;
}

.mynavbar__links__items {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 0px;
    height: 50px;
}

/*router*/
.nav__items {
    margin: 40px;
}

.media__hide__seeks {
    text-decoration: none;
    color: black;
    display: block;
    display: flex;
    justify-content: center;
    margin-right: -5px;
}

.nav__items:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2);
}

/*router*/


/*login*/
.nav__login__button {
    margin: 10px;
    margin-right: 20px;
}

.nav__login__button .login__button__link {
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

/*login*/

/*search*/
.nav__search__bar {
    margin: 10px;
    width: 700px;
}

/*search*/

/*cart*/
.nav__cart__number {
    margin: 40px;
}

.nav__cart__number:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2);
}

.nav__cart__number__link {
    text-decoration: none;
    color: black;
    display: block;
    display: flex;
    justify-content: center;
    margin-right: -5px;
}

/*cart*/

/*user*/
.nav__user__name {
    margin: 10px;
}

.nav__user__image {
    display: flex;
    justify-content: center;
    margin: 10px -10px 10px 10px;
}

.nav__user__dropdown__hide {
    display: none;
}

.nav__user__dropdown {
    position: absolute;
    top: 55px;
    right: 9vw;
    height: 170px;
    width: 150px;
    background-color: white;
    color: black;
    font-weight: bold;
    border: 0.5px solid gray;
    border-radius: 5px;
    z-index: 100;
}

.nav__user__dropdown * {
    margin: 10px;
}

.nav__user__dropdown *:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.05);
}

/*user*/

/*theme toggle*/
.nav__toggle__button {
    margin: 10px;
}

/*theme toggle*/

@media screen and (max-width: 1000px) {
    .media__hide__seeks {
        display: none;
    }

    .nav__items {
        display: none;
    }

    .nav__search__bar {
        display: none;
    }

    .nav__toggle__button {
        display: none;
    }

    .nav__cart__number {
        margin: 5px;
    }
}

/** nav bar end **/

/*----------------------------------------------------------------*/

/*SEARCH BAR*/
/** search bar start **/
.my__search {
    position: relative;
    min-width: 100px;
}

.search__item::-webkit-scrollbar {
    display: none;
}

.search__item {
    margin-top: 2px;
    background-color: rgb(254, 235, 235);
    border-radius: 5px;
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow: overlay;
    z-index: 100;
}

.search__novel__item {
    padding: 20px;
}

/** search bar end **/

/*----------------------------------------------------------------*/

/* buttons and link (except form button) - start */

/**all buttons and link in functionallity**/
.link {
    text-decoration: none;
    color: white;
    text-align: center;
}

.link button {
    border: none;
    background-color: transparent;
    color: white;
    border: none;
    padding: 0;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.link button .non__decorate__router__link {
    text-decoration: none;
    color: white;
}

/**NOVEL BUTTONS color**/
.novel__btn__nonuser {
    display: none;
}

.novel__btn__item {
    background-color: rgb(40, 151, 151);
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    width: 170px;
    height: 45px;
    margin: 10px;
}

.novel__btn__item:hover {
    background-color: rgb(87, 228, 228);
}

/* buttons and link (except form button) - end */


/*----------------------------------------------------------------*/


/*mainpage css*/
/**mainpage start**/
.mainpage::-webkit-scrollbar {
    display: none;
}

.mainpage__background__color {
    background-color: cornflowerblue;
}

.mainpage {
    margin: auto;
    background-color: pink;
    height: 100vh;
    width: 85vw;
    overflow-y: overlay;
}

.mainpage__container {
    background-color: wheat;
    display: flex;
    flex-direction: row;
}

.mainpage__col__big {
    background-color: chartreuse;
    flex: 0.7;
}

.mainpage__col__small {
    background-color: aqua;
    flex: 0.3;
}

.mainpage__novel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.mainpage__header {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(253, 147, 147);
    min-height: 100px;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
}

.mainpage__header h2 {
    text-align: center;
    margin: 10px 0px;
}

@media screen and (max-width: 1000px) {
    .mainpage__container {
        flex-direction: column;
    }

    .mainpage__col__big .mainpage__col__small {
        flex: 1;
    }
}

/**mainpage end**/

/*----------------------------------------------------------------*/

/*form css*/
/**form start**/
.add__form {
    min-width: 100px;
    width: 80%;
    margin: 50px auto;
}

.add__form form {
    display: flex;
    flex-direction: column;
}

.add__form form h1 {
    margin: auto;
}

.add__form form textarea {
    resize: vertical;
    height: 150px;
}

.add__form form label {
    margin: 15px 0px;
    font-size: large;
    font-weight: bold;
}

.add__form form input {
    padding: 10px;
}

.add__form form button {
    padding: 15px 20px;
    width: 100px;
    margin: 30px auto;
    background-color: rgb(87, 87, 225);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

.add__form form button:hover {
    background-color: rgb(111, 111, 250);
}

/**form end**/

/*----------------------------------------------------------------*/

/* NOVELS and ALIGN BUTTONS */
/**novels start**/
.novel__container {
    position: relative;
    background-color: red;
}

.novel__container img {
    width: 220px;
    height: 280px;
}

@media screen and (max-width: 1000px) {
    .novel__container img {
        width: 170px;
        height: 220px;
    }
}

@media screen and (max-width: 450px) {
    .novel__container img {
        width: 40vw;
        height: 200px;
    }
}

.novel__title {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: blue;
    text-decoration: none;
    color: var(--text-color-light);
    text-align: center;
    font-size: 20px;
    width: 100%;
}


/***align buttons***/
.novel__btn {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/**novels end**/

/*----------------------------------------------------------------*/

/* SINGLE NOVEL PAGE */
/**novel page start**/
.read__novel {
    margin: 20px;
    white-space: pre-line;
}

.read__novel h1 {
    text-align: center;
    margin: 20px 0px;
}

/***novel comment start***/
.comment__novel {
    display: flex;
    margin: 20px;
    white-space: pre-line;
    background-color: white;
    align-items: center;
    flex-direction: column;
}

.comment__novel__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.comment__novel__form * {
    display: block;
    margin: 10px;
}

.comment__novel__form textarea {
    width: 94%;
    padding: 10px;
}

.comment__novel__user__comments {
    border-radius: 5px;
    border: 0.5px solid grey;
    margin: 10px;
    padding: 10px;
    align-self: flex-start;
    width: 50vw;
}

@media screen and (max-width: 450px) {
    .comment__novel__user__comments {
        width: 70vw;
    }
}

.comment__novel__form button {
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: cadetblue;
}

.comment__novel__form button:hover {
    background-color: aquamarine;
}

/***novel comment end***/

/**novel page end**/

/*----------------------------------------------------------------*/

/* USER DASHBOARD */
/**dashboard start**/

/***user image start***/
/****background image****/
.dashboard__user__bgimage {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

/****img****/
.dashboard__user__image__container {
    position: absolute;
    left: 5%;
    top: 150px
}

.dashboard__user__image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    justify-content: center;
    opacity: 1;
    transform: scale(1.0);
    transition: transform 0.4s;
}

.dashboard__user__image__hover {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    justify-content: center;
    transform: scale(0.95);
    opacity: 0.7;
    transition: transform 0.4s;
}

@media screen and (max-width: 1000px) {

    .dashboard__user__image,
    .dashboard__user__image__hover {
        width: 150px;
        height: 150px;
    }

    .dashboard__user__image__container {
        left: 5%;
        top: 180px
    }
}

@media screen and (max-width: 700px) {

    .dashboard__user__image,
    .dashboard__user__image__hover {
        width: 110px;
        height: 110px;
    }

    .dashboard__user__image__container {
        left: 5%;
        top: 200px
    }
}

.dashboard__user__image__file {
    position: absolute;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.dashboard__user__request__changing__img,
.dashboard__user__request__changing__info {
    left: 50%;
    top: 350px;
    transform: translate(-50%, -50%);
    height: auto;
    width: 70vw;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    border: 0.5px solid grey;
}

.dashboard__user__request__changing__img__hide,
.dashboard__user__request__changing__info__hide {
    left: 50%;
    top: 350px;
    transform: translate(-50%, -50%);
    display: none;
    height: auto;
    width: 70vw;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    border: 0.5px solid grey;
}

/****img****/
/***user image end***/

/***user info start***/
.dashboard__user__info {
    padding: 10px;
    display: flex;
    width: 70%;
    flex-direction: column;
}

.dashboard__user__info__child {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

@media screen and (max-width: 1000px) {
    .dashboard__user__info__child {
        flex-direction: column;
        align-items: flex-start;
    }

    .dashboard__user__info__child * {
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 450px) {
    .dashboard__user__info {
        width: 60%;
    }
}

/****name****/
.dashboard__user__name * {
    display: flex;
}

/****name****/

/****about****/
.dashboard__user__about * {
    display: flex;
    white-space: pre-line;
    max-width: 500px;
}

/****about****/

/****button****/
.dashboard__user__info__change__button {
    margin-right: 10px;
    display: flex;
}

.dashboard__user__info__change__button button {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background-color: cadetblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.dashboard__user__info__change__button button:hover {
    background-color: rgb(130, 229, 232);
}

/****button****/

/***user info end***/

/***change password start***/
.change__password {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 25px;
}

.change__password input {
    width: 100%;
}

.change__password label {
    align-self: flex-start;
    margin-bottom: 5px;
}

/***change password end***/
/**dashboard end**/

/*----------------------------------------------------------------*/

/* Cart */
/**cart start **/
.cartitem__price__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.cartitem__quantity__button {
    flex: 0.5;
    display: flex;
    margin: 20px;
}

.cartitem__totalprice {
    flex: 0.5;
    display: flex;
    margin: 20px;
}

.cartitem__quantity__button * {
    margin-left: 10px;
}

.cartitem__totalprice * {
    margin-left: 10px;
}

/**cart end**/

/*----------------------------------------------------------------*/