/*mainpage css*/

.mainpage::-webkit-scrollbar {
    display: none;
}

.mainpage__background__color {
    background-color: cornflowerblue;
}

.mainpage {
    margin: auto;
    background-color: pink;
    height: 100vh;
    width: 85vw;
    overflow-y: overlay;
}

.mainpage__container {
    margin: 10px 20px;
    background-color: wheat;
    display: flex;
    flex-direction: row;
}

.mainpage__col__big {
    background-color: chartreuse;
    flex: 0.7;
}

.mainpage__col__small {
    background-color: aqua;
    flex: 0.3;
}

/*form css*/

.add__form {
    min-width: 100px;
    width: 80%;
    margin: 50px auto;
}

.add__form form {
    display: flex;
    flex-direction: column;
}

.add__form form h1 {
    margin: auto;
}

.add__form form textarea {
    resize: vertical;
    height: 150px;
}

.add__form form label {
    margin: 15px 0px;
    font-size: large;
    font-weight: bold;
}

.add__form form input {
    padding: 10px;
}

.add__form form button {
    padding: 15px 20px;
    width: 100px;
    margin: 30px auto;
    background-color: rgb(87, 87, 225);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

.add__form form button:hover {
    background-color: rgb(111, 111, 250);
}

/* NOVELS and BUTTONS */

.novel__container {
    margin: 20px 0px;
}

.novel__btn {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.novel__btn__nonuser {
    display: none;
}

.novel__btn__item {
    background-color: rgb(40, 151, 151);
    color: white;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
}

.novel__btn__item:hover {
    background-color: rgb(87, 228, 228);
}

/* SINGLE NOVEL PAGE */

.read__novel {
    margin: 20px; 
 }
 
 .read__novel h1 {
     text-align: center;
     margin: 20px 0px;
 }

/* meia query*/

@media screen and (max-width: 700px) {
    .mainpage__container {
        flex-direction: column;
    }

    .mainpage__col__big .mainpage__col__small{
        flex: 1;
    }
}