.read__novel {
   margin: 20px; 
}

.read__novel h1 {
    text-align: center;
    margin: 20px 0px;
}

.novel__btn {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.novel__btn__item {
    background-color: rgb(40, 151, 151);
    color: white;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
}