.read__novel {
    margin: 20px;
}

.chapter__button {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chapter__button__item {
    background-color: rgb(40, 151, 151);
    color: white;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
}