.edit-novel{ 
    width: 48vw;
    margin: 2vw auto;
    border: 1px solid transparent;
    border-color: #ddd;
    /* background-color: white; */
    border-radius: 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-sizing: border-box;
}

.form-edit-novel {
    margin: auto;
    width: 36vw;
}

.form-edit-novel label{
    margin: 15px 0px 8px !important;
}

.form-edit-novel textarea{
    margin-bottom: 15px;
}
