.register{ 
    width: 36vw;
    margin: 2.7vw auto;
    border: 1px solid transparent;
    border-color: #ddd;
    /* background-color: white; */
    border-radius: 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-sizing: border-box;
}

.form-register {
    margin: auto;
    width: 24vw;
}

/* .register-button {
    height: 48px !important;
    width: 128px !important;
    padding: auto !important;
} */

@media screen and (max-width: 1000px) {
    .register{ 
        width: 70vw;
    }
    .form-register {
        width: 66vw;
    }
}

@media screen and (max-width: 450px) {
    .register{ 
        width: 80vw;
    }
    .form-register {
        width: 70vw;
    }
}