/*dark mode*/

.mynavbar__background__color__dark {
    background-color: cadetblue;
}

.mynavbar__background__color__dark .media__hide__seeks {
    color: white;
}

/*light mode*/

.mynavbar__background__color {
    background-color: powderblue;
}

.mynavbar {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
}

.nav__sidebar__button {
    margin-left: 10px;
}

.nav__logo__img img {
    width: 45px;
    height: 45px;
    margin-left: 10px;
}

.mynavbar__links__items {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 0px;
    height: 50px;
}

.nav__items {
    margin: 40px;
}

.nav__login__button {
    margin: 10px;
    margin-right: 20px;
}

.nav__search__bar {
    margin: 10px;
}

.nav__toggle__button {
    margin: 10px;
}

.media__hide__seeks {
    text-decoration: none;
    color: black;
    display: block;
}

.nav__items:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2);
}

@media screen and (max-width: 700px) {
    .media__hide__seeks {
        display: none;
    }
    .nav__items {
        display: none;
    }
}