.login{ 
    width: 36vw;
    margin: 6vw auto;
    border: 1px solid transparent;
    border-color: #ddd;
    /* background-color: white; */
    border-radius: 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-sizing: border-box;
}

.form-login {
    margin: auto;
    width: 24vw;
}

@media screen and (max-width: 1000px) {
    .login{ 
        width: 70vw;
    }
    .form-login {
        width: 66vw;
    }
}

@media screen and (max-width: 450px) {
    .login{ 
        width: 80vw;
    }
    .form-login {
        width: 70vw;
    }
}

