.edit-chapter{ 
    width: 48vw;
    margin: 2vw auto;
    border: 1px solid transparent;
    border-color: #ddd;
    /* background-color: white; */
    border-radius: 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-sizing: border-box;
}

.form-edit-chapter {
    margin: auto;
    width: 36vw;
}

.form-edit-chapter label{
    margin: 15px 0px 8px !important;
}

.form-edit-chapter textarea{
    margin-bottom: 15px;
}

.edit-chapter-title {
    text-align: center;
    color: #333333;
    background-color: #f5f5f5;
    border-color: #dddddd;
    padding: 10px 15px;
    border: 1px solid transparent;
}