.add-new-chapter{ 
    width: 48vw;
    margin: auto;
    margin-top: 5vw;
    border: 1px solid transparent;
    border-color: #ddd;
    /* background-color: white; */
    border-radius: 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-sizing: border-box;
}

.form-add-new-chapter {
    margin: auto;
    width: 36vw ;
}

@media screen and (max-width: 1000px) {
    .add-new-chapter{ 
        width: 70vw;
    }
    .form-add-new-chapter {
        width: 66vw;
    }
}

@media screen and (max-width: 450px) {
    .add-new-chapter{ 
        width: 80vw;
    }
    .form-add-new-chapter {
        width: 70vw;
    }
}

